---
import Layout from '../components/Layout.astro';
---

<Layout title='HJK'>
  <main>
    <section class='fog'>
      <div class='fog__container'>
        <div class='fog__img fog__img--first'></div>
        <div class='fog__img fog__img--second'></div>
      </div>
      <div class='bg-noise'></div>
      <div class='logo'>
        <svg
          id='hjk'
          xmlns='http://www.w3.org/2000/svg'
          viewBox='0 0 223.5 144.5'
          ><path
            fill-rule='evenodd'
            stroke-width='1'
            d='M174.5 2.5h46l-69 49 69 48h-47l-46-32v-32l46-33h1ZM2.5 142.5c7.7-6.7 16-17.7 24-25 14.3-.7 27.7.6 43 0 27.3-.5 19.7-29.5 21-50 0-21.7-1-43.3 0-65 9 0 19.9-.2 29.9.1.6 0-.1 59.5.1 63.9-1 15 2.2 29.6-1.4 47.1-7.8 17.2-18.3 25-47 29-22.5.3-46.6-.5-69.6-.1'
          ></path><path
            fill-rule='evenodd'
            stroke-width='1'
            d='M1.5 1.5h32v36h51v27h-51v36h-32v-99Z'></path>
        </svg>
      </div>
    </section>
  </main>
</Layout>

<style lang='scss'>
  .fog {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #000;
  }
  .fog__container {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: #ffffff;
  }
  .fog__img {
    position: absolute;
    height: 100vh;
    width: 300vw;
  }
  .fog__img--first {
    background: url(https://drive.google.com/uc?export=view&id=1GL-Uetao0sccNtJqIjlrRdTSYDGOZXYy)
      repeat-x;
    background-size: contain;
    background-position: center;
    -webkit-animation: marquee 60s linear infinite;
    animation: marquee 60s linear infinite;
  }
  .fog__img--second {
    background: url(https://drive.google.com/uc?export=view&id=1_49CUCR6q8zTKFQKU9L_8oD834IQEWju)
      repeat-x;
    background-size: contain;
    background-position: center;
    -webkit-animation: marquee 40s linear infinite;
    animation: marquee 40s linear infinite;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 10;

    svg {
      max-width: 50vw;
      max-height: 50vh;
      animation: logo 5s linear infinite;
      fill: none;
    }
  }
  @keyframes logo {
    0% {
      stroke: black;
    }
    50% {
      stroke: gray;
    }
    100% {
      stroke: black;
    }
  }

  @-webkit-keyframes marquee {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(-200vw, 0, 0);
      transform: translate3d(-200vw, 0, 0);
    }
  }

  @keyframes marquee {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(-200vw, 0, 0);
      transform: translate3d(-200vw, 0, 0);
    }
  }

  // Noise

  .bg-noise {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .bg-noise:after {
    -webkit-animation: noise2 1s steps(2) infinite;
    animation: noise2 1s steps(2) infinite;
    background-image: url('https://i.postimg.cc/yNJyHjnF/background-noise.png');
    background-position: 50%;
    content: '';
    height: calc(100vh + 20rem);
    left: -10rem;
    position: absolute;
    top: -10rem;
    width: calc(100vw + 20rem);
    will-change: transform;
  }

  @-webkit-keyframes noise2 {
    0% {
      -webkit-transform: translate3d(0, 9rem, 0);
      transform: translate3d(0, 9rem, 0);
    }
    10% {
      -webkit-transform: translate3d(-1rem, -4rem, 0);
      transform: translate3d(-1rem, -4rem, 0);
    }
    20% {
      -webkit-transform: translate3d(-8rem, 2rem, 0);
      transform: translate3d(-8rem, 2rem, 0);
    }
    30% {
      -webkit-transform: translate3d(9rem, -9rem, 0);
      transform: translate3d(9rem, -9rem, 0);
    }
    40% {
      -webkit-transform: translate3d(-2rem, 7rem, 0);
      transform: translate3d(-2rem, 7rem, 0);
    }
    50% {
      -webkit-transform: translate3d(-9rem, -4rem, 0);
      transform: translate3d(-9rem, -4rem, 0);
    }
    60% {
      -webkit-transform: translate3d(2rem, 6rem, 0);
      transform: translate3d(2rem, 6rem, 0);
    }
    70% {
      -webkit-transform: translate3d(7rem, -8rem, 0);
      transform: translate3d(7rem, -8rem, 0);
    }
    80% {
      -webkit-transform: translate3d(-9rem, 1rem, 0);
      transform: translate3d(-9rem, 1rem, 0);
    }
    90% {
      -webkit-transform: translate3d(6rem, -5rem, 0);
      transform: translate3d(6rem, -5rem, 0);
    }
    to {
      -webkit-transform: translate3d(-7rem, 0, 0);
      transform: translate3d(-7rem, 0, 0);
    }
  }
  @keyframes noise2 {
    0% {
      -webkit-transform: translate3d(0, 9rem, 0);
      transform: translate3d(0, 9rem, 0);
    }
    10% {
      -webkit-transform: translate3d(-1rem, -4rem, 0);
      transform: translate3d(-1rem, -4rem, 0);
    }
    20% {
      -webkit-transform: translate3d(-8rem, 2rem, 0);
      transform: translate3d(-8rem, 2rem, 0);
    }
    30% {
      -webkit-transform: translate3d(9rem, -9rem, 0);
      transform: translate3d(9rem, -9rem, 0);
    }
    40% {
      -webkit-transform: translate3d(-2rem, 7rem, 0);
      transform: translate3d(-2rem, 7rem, 0);
    }
    50% {
      -webkit-transform: translate3d(-9rem, -4rem, 0);
      transform: translate3d(-9rem, -4rem, 0);
    }
    60% {
      -webkit-transform: translate3d(2rem, 6rem, 0);
      transform: translate3d(2rem, 6rem, 0);
    }
    70% {
      -webkit-transform: translate3d(7rem, -8rem, 0);
      transform: translate3d(7rem, -8rem, 0);
    }
    80% {
      -webkit-transform: translate3d(-9rem, 1rem, 0);
      transform: translate3d(-9rem, 1rem, 0);
    }
    90% {
      -webkit-transform: translate3d(6rem, -5rem, 0);
      transform: translate3d(6rem, -5rem, 0);
    }
    to {
      -webkit-transform: translate3d(-7rem, 0, 0);
      transform: translate3d(-7rem, 0, 0);
    }
  }
</style>
